
<!DOCTYPE html>
<html>

  <head>
    <title>Ave del Para&iacute;so</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>

  <body>
  <%= render 'layouts/header' %>

  <section class="jumbotron">
    <div class="container">
      <div class="row text-left-bottom">
        <h2>Servicios Integrales de Jardiner&iacute;a</h2>
        <h3>Te corto el cesped o que?</h3>
        <a class="btn btn-primary" href="#" role="button">Pide presupuesto</a>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="row">
      <figure class="col-sm-6">
        <p>Dise&ntilde;o</p>
        <img src="http://static.imujer.com/sites/default/files/hogartotal/I/Ideas-basicas-para-el-diseno-de-jardines-exteriores-0.jpg"/>
    	</figure>
    	<figure class="col-sm-6">
        <p>Poda de Altura</p>
        <img src="https://jardineriatierrasanta.files.wordpress.com/2012/06/230620111083.jpg"/>
      </figure>
    </div>
    <div class="row">
      <figure class="col-sm-6">
        <p>Mantenimiento</p>
        <img src="http://www.viveros-cusco.com/wp-content/uploads/2014/12/Mantenimiento-de-Jardines-Cusco.jpg"/>
      </figure>
      <figure class="col-sm-6">
        <p>Sistemas de Riego</p>
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQs10oFZkRBQpdxNNz0QiM9tJTnOfgyQKeoFsxVzB8ODMLjudOT"/>
      </figure>
    </div>
  </section>

  <%= render 'layouts/footer'%>
 </body>
</html>
